{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Content Row -->
  <div class="row">


    <!-- Window State -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Windows</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {% if window_state.state %}
                  Open
                {% else %}
                  Closed
                {% endif %}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-wind fa-2x text-gray-300"></i>
            </div>
            <div class="small-info">
              Measured @ {{ window_state.date|date:"H:i d-m-y" }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Last Watered -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Last watered</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Currently offline</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-tint fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- System Voltage -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Battery Voltage</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ voltage.volts }} V
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-car-battery fa-2x text-gray-300"></i>
            </div>
            <div class="small-info">
              Measured @ {{ voltage.date|date:"H:i d-m-y" }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Battery charger state -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Charger</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {% if charge.state %}
                  On
                {% else %}
                  Off
                {% endif %}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-bolt fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  

  
  <!-- Greenhouse Temperature Today -->
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Greenhouse temperature today</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="chart-area">
        <canvas id="temp-today" data-url="{% url 'temp-today' %}"></canvas>
      </div>
    </div>
  </div>
    
  <!-- Greenhouse Humidity Today -->
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Greenhouse humidity today</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="chart-area">
        <canvas id="hum-today" data-url="{% url 'hum-today' %}"></canvas>
      </div>
    </div>
  </div>

    
  <!-- Latest data -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Latest data from all the DHT22 sensors</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in latest %}
            <tr>
              <td>{{ obj.sensor }}</td>
              <td>{{ obj.temperature }}</td>
              <td>{{ obj.humidity }}</td>
              <td>{{ obj.date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
    

</div>

  
{% endblock content %}